<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>my dev skills</title>
</head>
<body>
    <body>
        <h1>My Bootcamp <br>Dev Skills</h1>
        <ul>
            <% skills.forEach(function(s) { %>
            <li>
                <a href="/skills/<%= s.id %>"><%= s.skill %></a>
                    <ul><%= s.competent ? 'competent' : 'not competent' %>
                    </ul>
            </li>
            <% }); %>
        </ul>
    </body>
</body>
</html>